<app-simple-modal [title]="'BOOK'" [showRequired]="action != actions.PREVIEW" (close)="close.emit($event)">
	<div fields>
		<div class="row">
			<div class="col-sm-4" style="display: flex; justify-content: center; align-items: center;">
				<figure class="book">
					<ul class="hardcover_front">
						<li>
							<div class="coverDesign" [style]="book.frontCover?'background-image: url('+book.frontCover+');':''">
								<h1 *ngIf="!book.frontCover">Book without added cover.</h1>
							</div>
						</li>
						<li></li>
					</ul>
					<ul class="page">
						<li></li>
						<li style="padding: 30%;">
							<label class="btn1" *ngIf="action != actions.PREVIEW" for="file-input">UPLOAD COVER</label>
							<input type="file" id="file-input" name="file-input" style="display: none;"
								(change)="onFileSelected($event)">
						</li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<ul class="hardcover_back">
						<li></li>
						<li></li>
					</ul>
					<ul class="book_spine">
						<li></li>
						<li></li>
					</ul>
				</figure>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="form-group">
						<label for="title" class="form-label">Title</label>
						<h4 *ngIf="action == actions.PREVIEW">{{book.title}}</h4>
						<input *ngIf="action != actions.PREVIEW" type="text" id="title" name="title" placeholder="example: Pride and Prejudice"
							[(ngModel)]="book.title" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 form-group">
						<label for="isbn" class="form-label">ISBN</label>
						<h4 *ngIf="action == actions.PREVIEW">{{book.isbn}}</h4>
						<input *ngIf="action != actions.PREVIEW" [disabled]="action == actions.EDIT" type="text" id="isbn" name="isbn" placeholder="example: 123-ABC" [(ngModel)]="book.isbn"
							class="form-control">
					</div>
					<div class="col-sm-8 form-group">
						<label for="author" class="form-label">Author</label>
						<h4 *ngIf="action == actions.PREVIEW">{{book.author}}</h4>
						<input *ngIf="action != actions.PREVIEW" type="text" id="author" name="author" placeholder="example: Gabriel Garcia Marquez"
							[(ngModel)]="book.author" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col form-group">
						<label for="publisher" class="form-label">Publisher</label>
						<h4 *ngIf="action == actions.PREVIEW">{{book.publisher}}</h4>
						<input *ngIf="action != actions.PREVIEW" type="text" id="author" name="author" placeholder="example: Editorial Santaolla"
							[(ngModel)]="book.publisher" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col form-group">
						<label for="published" class="form-label">Date published</label>
						<h4 *ngIf="action == actions.PREVIEW">{{book.published}}</h4>
						<input *ngIf="action != actions.PREVIEW" type="date" id="published" name="published" [(ngModel)]="book.published" class="form-control">
					</div>
					<div class="col form-group" *ngIf="action != actions.PREVIEW">
						<label for="copies" class="form-label">Copies</label>
						<input type="number" min="1" id="copies" name="copies" placeholder="default: 1"
							[(ngModel)]="book.copies" class="form-control">
					</div>
					<div class="col form-group" *ngIf="action == actions.PREVIEW">
						<label for="availableCopies" class="form-label">Available Copies</label>
						<h4 >{{book.availableCopies}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div buttons>
		<app-loading-button *ngIf="action != actions.PREVIEW" [object]="buttonSave" [disabled]="!book.isbn || !book.title || !book.author || !book.published || !book.publisher"
			(clicked)="saveBook()"></app-loading-button>
		<app-loading-button  appCheckRole [roles]="[role.LIBRARIAN]" *ngIf="action == actions.PREVIEW" [object]="buttonEdit"
		(clicked)="action = actions.EDIT;"></app-loading-button>
	</div>
</app-simple-modal>