<div class="card m-5">
	<div class="card-header">
		<h1 style="align-items: center;">BOOKS <i appCheckRole [roles]="[role.LIBRARIAN]" (click)="createBook()"
				class="clickable fa fa-circle-plus"></i></h1>
	</div>
	<div class="card-body">
		<div class="form-group">
			<label for="search" class="form-label">Search</label>
			<input type="text" (input)="search()" placeholder="Search by title, author, publisher or isbn" [(ngModel)]="searchWord" class="form-control">
		</div>
		<div class="component m-5" *ngIf="books.length != 0">
			<ul class="align">
				<li *ngFor="let book of books; let i = index" [style]="book.availableCopies == 0?'opacity:0.5;':''">
					<figure class="book">
						<ul class="hardcover_front">
							<li>
								<div class="coverDesign" [style]="'background-image: url('+book.frontCover+');'">
									<span class="ribbon" *ngIf="book.availableCopies == 0">RESERVA</span>
									<h1>{{book.title}}</h1>
									<p>{{book.author}}</p>
								</div>
							</li>
							<li></li>
						</ul>
						<ul class="page">
							<li></li>
							<li>
								<span class="btn1">
									{{book.availableCopies > 0 ? 'LEND':'BOOKING'}}
								</span>
								<br>
								<span class="btn1" (click)="actionView = actions.PREVIEW; bookView = book">
									SEE DETAILS
								</span>
							</li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<ul class="hardcover_back">
							<li></li>
							<li></li>
						</ul>
						<ul class="book_spine">
							<li></li>
							<li></li>
						</ul>
					</figure>
					<h5><b>{{book.title}}</b><i appCheckRole [roles]="[role.LIBRARIAN]" class="clickable fa fa-edit"
							(click)="actionView = actions.EDIT; bookView = book"></i></h5>
					<p>{{book.author}}</p>
					<p style="font-size: 0.7em;">{{book.isbn}}</p>
				</li>
			</ul>
		</div>
		<span class="display-3" *ngIf="books.length == 0 && searchWord">
			<i class="fa fa-circle-info"></i> Theres not result for <b>{{searchWord}}</b>
		</span>
	</div>
</div>
<app-book-modal *ngIf="bookView" [book]="bookView" [action]="actionView" (close)="closeModal($event)"></app-book-modal>