<div class="relative">
	<div class="background">
	</div>
	<div class="book">
		<div class="book-body" (mouseover)="applyBlur()" (mouseout)="removeBlur()">
			<div class="cover">
			</div>
			<div class="content">
				<h3 style="text-align: center;font-weight: bold; padding: 1em;" class="university">CENTRO UNIVERSITARIO
					DE OCCIDENTE</h3>
				<h2 style="font-size: 4.5em">LIBRARY</h2>
				<div class="form-group">
					<input type="text" placeholder="USERNAME" [(ngModel)]="newLogin.username" class="form-control input-custom">
				</div>
				<div class="form-group">
					<input type="password" placeholder="PASSWORD" [(ngModel)]="newLogin.password"
						class="form-control input-custom">
				</div>
				<button class="btn1" (click)="login()">
					<i class="fa-solid fa-right-to-bracket"></i> LOGIN
				</button>
			</div>
		</div>
	</div>
</div>