<div class="card m-5">
	<div class="card-header">
		<h1>STUDENTS <i (click)="showCreate()" class="clickable text-info fa fa-circle-plus"></i></h1>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-8 form-group">
				<label for="search" class="form-label">Search</label>
				<input type="text" (input)="search()" placeholder="Search by license or name" [(ngModel)]="searchWord"
					class="form-control">
			</div>
			<div class="col-sm-4 form-group">
				<label for="career" class="form-label">Career</label>
				<div class="input-group">
					<select name="career" id="career" (change)="search()" [(ngModel)]="careerId" class="form-select">
						<option value="0">TODAS</option>
						<option *ngFor="let career of careers" value="{{career.careerId}}">{{career.careerId}} -
							{{career.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Has user</th>
						<th>License</th>
						<th>Name</th>
						<th>Career</th>
						<th>Birthday</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngIf="newStudent">
						<td class="bg-info" colspan="2">
							<div class="input-group">
								<input type="number" placeholder="Set license" min="111111111" max="999999999"
									[(ngModel)]="newStudent.license" id="license" name="license" class="form-control">
							</div>
						</td>
						<td class="bg-info">
							<div class="input-group">
								<input type="text" placeholder="Set student name" [(ngModel)]="newStudent.name"
									id="name" name="name" class="form-control">
							</div>
						</td>
						<td class="bg-info">
							<div class="input-group">
								<select name="career" class="form-select" [(ngModel)]="newStudent.career.careerId"
									id="career">
									<option value="undefined">Select a career</option>
									<option *ngFor="let career of careers" value="{{career.careerId}}">
										{{career.careerId}} - {{career.name}}</option>
								</select>
							</div>
						</td>
						<td class="bg-info">
							<div class="input-group">
								<input type="date" [(ngModel)]="newStudent.birthday" id="birthday" name="birthday"
									class="form-control">
							</div>
						</td>
						<td class="bg-info td-middle">
							<app-loading-button [object]="buttonSave" (clicked)="saveStudent()" [disabled]="!newStudent.birthday || !newStudent.name || !newStudent.career.careerId
								|| !newStudent.license"></app-loading-button>
							<app-loading-button [object]="buttonQuite" (clicked)="newStudent = null"
								*ngIf="!buttonSave.loading"></app-loading-button>
						</td>
					</tr>
					<tr *ngFor="let student of students">
						<td>{{student.userLibrary?'YES':'NO'}}
							<i *ngIf="!student.userLibrary" (click)="studentQr = student.license"
								class="text-info clickable fa-solid fa-qrcode"></i>
						</td>
						<td>{{student.license}}</td>
						<td>{{student.name}}</td>
						<td>{{student.career.name}}</td>
						<td>{{student.birthday}}</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<app-qr-modal *ngIf="studentQr" [license]="studentQr" (close)="studentQr = null"></app-qr-modal>